 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
 * {
  margin: 0;
  pad: 0;
}

a{
  color:inherit;
  text-decoration: none;
}

body{
  background-color: hsl(0, 0%, 7%);
  line-height: 1.7;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;

}

.App {
  width: 98%;
  margin: auto;
  color: #f7f7f7;
  
}
.container{
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0.5rem;
  min-height: 90vh;
}

/* Style for search box */
.searchContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search{
  color: black;
  padding: 12px 10px;
  width: 50vw;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 1.1em;
  position: relative;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.search-icon{
  position: absolute;
  left: 70%;
  color: black;
}

/* Style for the add form  */
.post-form {
  /* width: 40vw; */
  /* margin: auto; */
  background-color:  hsl(240, 2%, 13%);
  color: #f7f7f9 !important;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 16px;
  color: black;
  border-radius: 6px;
}

.addForm h1{
  margin-bottom: 10px;
  color: rgb(245, 197, 24);
  text-align: center;
}
.addForm input[type=text]{
  margin-bottom: 10px;
  margin-top: 6px;
  border-radius: 60px;
  font-size: 1em;
  width: 80%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
#inputFile{
  margin-bottom: 10px;
  margin-top: 6px;
}
textarea{
  height: 100px;
  width: 80%;
  word-break: break-word;
  color: black;
  margin-bottom: 10px;
  margin-top: 6px;
  border-radius: 60px;
  font-size: 1em;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
.addForm input[type=checkbox]{
  margin-bottom: 10px;
  margin-top: 6px;
  border-radius: 60px;
  font-size: 1em;
  padding: 12px;
  border: none;
  border-radius: 4px;
  width: 30px;
}

.addForm button{
  background-color: hsl(45, 54%, 58%);
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for pop up messages */
.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  }
  .popup-body {
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: 30%;
  top: 30%;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border-color: black;
  background: #f7f7f9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: black !important;
}
.popup-body p {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 60px;
}
.popup-body button{
  font-weight: bold;
  background-color: #ffcc00;
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for film list  */
.filmsList{
  background-color:  hsl(240, 2%, 13%);
  color: white !important;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 16px;
  border-radius: 6px;
  grid-column: span 4;
  display: flex;
  flex-wrap: wrap;
}
/* Stylr for card fim */
.filmCard{
  background-color: hsl(0, 0%, 16%);
  margin: 8px;
  width: 250px;
}
.filmCard ul{
  list-style: none;
  margin-bottom: 6px;
  padding-inline-start: 0;
  width:  95%;
}
.filmCard ul li{
  padding: 6px;
}
.card-title{
  text-align: left;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.img-wrapper{
  width: 95%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details button{
  background-color: hsl(45, 54%, 58%);
  color: white;
  color: black;
  width: 25%;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
.second-ul{
  width:  95%;
  margin: 10px;
}
.second-ul b{
  text-decoration: underline;
}
.card-description{
  word-wrap: break-word;
}

.delete-btn{
  background-color: #cc3300;
  width: 30%;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
.update-btn{
  background-color: #ffcc00;
  width: 30%;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

/* Style for .update */
.updateForm{
  width: 40vw; 
  margin: auto;
  margin-top: 5vw;
  background-color:  hsl(240, 2%, 13%);
  color: #f7f7f9 !important;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 16px;
  color: black;
  border-radius: 6px;
}

.updateForm h1{
  margin-bottom: 10px;
  color: rgb(245, 197, 24);
  text-align: center;
}
.updateForm input[type=text]{
  margin-bottom: 10px;
  margin-top: 6px;
  border-radius: 60px;
  font-size: 1em;
  width: 80%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;

}
textarea{
  height: 100px;
  width: 80%;
  word-break: break-word;
  color: black;
  margin-bottom: 10px;
  margin-top: 6px;
  border-radius: 60px;
  font-size: 1em;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
.updateForm input[type=checkbox]{
  margin-bottom: 10px;
  margin-top: 6px;
  border-radius: 60px;
  font-size: 1em;
  padding: 12px;
  border: none;
  border-radius: 4px;
  width: 30px;
}

.updateForm button{
  background-color: #ffcc00;
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.back{
  font-size: 4em;
  background-color: inherit;
  color: #ffcc00;
  position: relative;
  top: 40px;
  left: 40px;
  width: 80px;
  height: 50px;
  border: none;
}
